
/* --- CSS  --- */
 body {
  margin: 0;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
}


.formulario {
    padding: 20px;
}

h2 {
    font-size: 45px;
    color: #84baef;
    text-align: center;
    margin-bottom: 15px;
}
/* ===== ALINHAMENTO DO FORMULÁRIO ===== */

/* === DESKTOP – 2 colunas === */
.grupo-cx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 70px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 0;
}

.caixa {
    width: 100%;
}

.caixa input {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #84baef;
    border-radius: 25px;
    font-size: 16px;
}

.caixa select {
    width: 110%;
    padding: 12px 20px;
    border: 2px solid #84baef;
    border-radius: 25px;
    font-size: 16px;
}

/* Botões */
.botao {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
}

.btn {
    background-color: #84baef;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 35px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5aa0ff;
}


.message {
    text-align: center;
    margin-top: 40px;
    color: #ffffff;
}
.termos {
    text-align: center;
    margin-top: 20px;
    color: #000;
}
