@font-face {
    font-family: "vaseline-extra";
    src: url(/frontend/assets/fonts/Vaseline\ Extra.ttf);
}

@font-face {
    font-family: "Montserrat-regular";
    src: url(/frontend/assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-bold";
    src: url(/frontend/assets/fonts/Montserrat/Montserrat-Bold.ttf);
}

/* Existem muitas fontes nas pastas, precisamos escolher qual usar e otimizar essa quantidade */ 